[defaults]
inventory = hosts
remote_tmp = $HOME/.ansible/tmp
vault_password_file = $HOME/.ansible/vault/site_vault_pass.txt
pattern = *
forks = 5
poll_interval = 15
sudo_user = root
transport = smart
module_lang = C
gathering = implicit
sudo_exe = sudo
timeout = 10
ansible_managed = Ansible managed: {file} on {host}
fact_caching = memory
retry_files_enabled = True
retry_files_save_path = $HOME/.ansible/.ansible-retry

[privilege_escalation]
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30
